<div class="container-fluid outer">

    <div class="py-5">
        <div class="container">
            <div class="infor">
                <div class="head1">
                    <h3 class="text-white py-2 pl-3">Điều khoản sử dụng - Miễn trừ trách nhiệm</h3>
                </div>
                <div class="infor1 pl-5" style="font-size: 20px;">
                    1. Review IUH là website để người dùng chia sẻ kinh nghiệm, trải nghiệm học tập tại trường<br>

                    2. Toàn bộ thông tin đăng tải trên reviewIUH.com là do người dùng cung cấp. Người dùng đăng thông
                    tin
                    lên reviewIUH.com chịu trách nhiệm hoàn toàn về tính xác thực của thông tin đó.<br>

                    3. Chúng tôi không có trách nhiệm quản lý, chỉnh sửa hoặc xóa bỏ nội dung đăng tải bởi người
                    dùng.<br>
                </div>
            </div>
        </div>
    </div>

</div>